**/.ipynb*
tmp
test
scratch
.snakemake
doc/overview.aux
doc/overview.log
doc/overview.toc
doc/overview.out
src/__pycache__
src/tools/__pycache__
src/schematools/__pycache__
src/schema.py
doc/img
html/_*
html/api
html/*.rst
**/*.bw
**/*.so

